[submodule "libavim"]
	path = libavim
	url = https://github.com/avplayer/libavim.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/microcai/openssl-cmake.git
